@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.cdnfonts.com/css/game-of-squids');
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  margin: 0;
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;                                    
}
#homepage {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.name {
  position: relative;
  filter: brightness(200%);
}
.title1{
  margin-bottom: -4%;
}
.title2 {
  left: 31.5%;
}
.title1, .title2 {
  font-family: 'Game Of Squids', sans-serif;    
  position: relative;
  -webkit-text-stroke: 1px black;
  color: gray;
  font-size: 8em;
}
.title1::before {
  content: 'Gaspare';
}
.title2::before {
  content: 'Navarra';
}
.title1::before, .title2::before {
  mix-blend-mode: difference;
  filter: blur(3px);
  position: absolute;
}
.middle-bar {
  background-color: #a11cc2;
  width: 5px;
  margin-left: auto;
  margin-right: auto;
}
.descripiton {
	font-family: "Alumni Sans", sans-serif;
}
.descripiton h2 {
  font-size: 3rem;
}
.no-padding {
  padding: 0;
}
.no-padding-left {
  padding-left: 0;
}
.text-shadow {
  font-style: italic;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 1px;
  text-shadow: 2px 2px 10px black;
  letter-spacing: 0.2em;
}
.text-shadow:hover {
  color: #fff;
}
.biography {
  margin: revert;
  text-align: left;
}
#langContainer {
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 0;
  right: 65px;
}
.it {
  background-image: url(../img/it_flag.png);
}
.en {
  background-image: url(../img/en_flag.png);
}
.en, .it {
	background-repeat: no-repeat;
  background-size: 22px 16px;
  background-position-y: center;
  background-position-x: left;
}
#dropdownMenuButton {
  width: 85px;
  background-position-y: center;
  background-position-x: 8px;
  border: 0;
  padding-left: 35px;

  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.dropdown-item {
  padding-left: 37px;
  color: white;
  background-position-x: 9px;
}
.navbar {
  height: 56px;
}
.no-margin {
  margin: 0;
}
.vanta-canvas {
  padding: 0;
}
#menuLang, #dropdownMenuButton {
  border: solid 1px gray;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
#menuLang {
  margin-left: -74px;
}
.active, .dropdown-item:focus, .dropdown-item:hover {
  background-color: black!important;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: white;
}
.img-size {
  height: 28px;
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .title1, .title2 {
    font-size: 3em;
    -webkit-text-stroke: 3px black;
  }
  .descripiton h2 {
    font-size: 2rem;
  }
  #langContainer {
    right: 18px;
  }
  #center-line {
    margin-top: -112px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {

}